@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

:root {
  --b-bg: #f4f6f8;
  --clr: #fff;
  --blue: #5964e0;
  --d-clr: #19202d;
  --s-b-clr: #6e8098;
}

body {
  background: var(--b-bg);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  padding: 42px 40px 0;
  max-height: 160px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0px 0px 0px 100px;
}
.header .header-mob_search {
  display: none;
}
.header .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}
.header h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr);
  letter-spacing: 1.3px;
}
.header .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
}
.header .theme .theme_tog {
  width: 48px;
  height: 24px;
  background: var(--clr);
  border-radius: 24px;
  position: relative;
}
.header .theme .theme_tog::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--blue);
  top: 5px;
  left: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .header_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  background: var(--clr);
  gap: 90px;
  border-radius: 6px;
}
.header .header_search div {
  border-left: 1px solid rgba(110, 128, 152, 0.2745098039);
  padding: 28px 20px 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-left: 24px;
}
.header .header_search div input {
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--d-clr);
  font-weight: 400;
}
.header .header_search div:first-child {
  border-left: 0;
}
.header .header_search .by_time label {
  font-size: 16px;
  color: var(--d-clr);
  font-weight: 700;
}
.header .header_search .by_time input {
  width: 24px;
  height: 24px;
  color: #121721;
}
.header .header_search button {
  border-radius: 5px;
  background: var(--blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--clr);
  border: none;
  padding: 16px 14px;
}

.cards-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 343px));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 65px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}
.cards-container .card {
  background: var(--clr);
  padding: 32px;
  border-radius: 6px;
  position: relative;
  max-width: 350px;
  width: 100%;
}
.cards-container .card img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  margin-bottom: 24px;
  border-radius: 16px;
}
.cards-container .card .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: var(--s-b-clr);
  gap: 12px;
  margin: 24px 0 16px;
}
.cards-container .card .time .dot {
  display: block;
  font-size: 34px;
}
.cards-container .card h2 {
  font-size: 20px;
  color: var(--d-clr);
  font-weight: 700;
  margin-bottom: 17px;
}
.cards-container .card .description {
  font-size: 16px;
  color: var(--s-b-clr);
  font-weight: 400;
  margin-bottom: 44px;
}
.cards-container .card .location {
  font-size: 14px;
  color: var(--blue);
  font-weight: 700;
}

.load-more {
  width: 100%;
  margin-bottom: 100px;
}
.load-more .load {
  margin: 0 auto;
  width: 141px;
  text-align: center;
  padding: 16px 30px;
  color: var(--clr);
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: var(--blue);
  border-radius: 5px;
  display: block;
}

.body-dark {
  background: #121721;
}
.body-dark .header .header_top .theme .theme_tog::before {
  left: 28px;
}
.body-dark .header .header-mob_search {
  background: #19202d;
}
.body-dark .header .header_search {
  background: #19202d;
}
.body-dark .header .header_search input {
  background: transparent;
  color: #fff;
}
.body-dark .header .header_search .by_time label {
  color: #ffffff;
}
.body-dark .cards-container .card {
  background: #19202d;
}
.body-dark .cards-container .card h2 {
  color: #ffffff;
}

@media (max-width: 1250px) {
  .header .container {
    max-width: 689px;
  }
  .header .header_search {
    padding: 0;
    gap: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header .header_search div {
    padding: 24px 14px;
  }
  .header .header_search div input {
    max-width: 135px;
  }
  .con-card .cards-container {
    padding: 70px 35px;
    gap: 65px 0;
  }
  .con-card .cards-container .card {
    max-width: 324px;
    padding: 28px;
  }
}
@media (max-width: 760px) {
  .header {
    border-radius: 0px 0px 0px 0px;
    padding: 32px 24px;
  }
  .header .header-mob_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 24px;
    border-radius: 6px;
    background: #fff;
  }
  .header .header-mob_search input {
    border: none;
    outline: none;
    background: transparent;
    color: #19202d;
    font-size: 16px;
    font-weight: 400;
  }
  .header .header-mob_search .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .header .header-mob_search .btns button {
    border: none;
    background: transparent;
  }
  .header .header_search {
    display: none;
  }
  .cards-container {
    gap: 45px;
  }
}
.modal {
  display: none;
}

.modal-true {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3019607843);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-true .modal-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  gap: 20px;
  padding: 24px;
  background: #fff;
}
.modal-true .modal-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.modal-true .modal-content div input {
  border: none;
  outline: none;
}
.modal-true .modal-content button {
  border-radius: 5px;
  background: var(--blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--clr);
  border: none;
  padding: 16px 14px;
}